@import "./shared/prototype.css";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 2rem;
}

.action-menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

.create-round-form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-field label {
  font-weight: bold;
}

textarea {
  display: block;
  field-sizing: content;
  resize: none;
  font-family: inherit;
  padding: 0.25rem 0.5rem;
}

input {
  padding: 0.25rem 0.5rem;
  font-family: inherit;
}

label {
  font-size: 14px;
}

.rounds-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.round-card {
  padding-block: 1rem;
}

.round-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-header h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: inherit;
  margin: 0;
}

.round-details {
  display: grid;
  gap: 1rem;
  padding-top: 0.5rem;
}

.devices-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.connections-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.themes-list {
  margin-top: 1rem;
}

.themes-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
